.servicios-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 5% auto 0 auto; 
    text-align: center;
}

.servicios-container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

@media (max-width: 768px){
  .servicios-container {
    padding: 2rem;
    max-width: 1200px;
    margin-top: 20%;
}
}